<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="Retroarch" Publisher="CN=neto" Version="1.0.3.0" />
  <mp:PhoneIdentity PhoneProductId="5666f4b0-2705-4a6b-8026-44c6a4cc04b9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RetroArch-Win10</DisplayName>
    <PublisherDisplayName>Manoel Neto</PublisherDisplayName>
    <Logo>media\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RetroArch_Win10.App">
      <uap:VisualElements DisplayName="RetroArch" Square150x150Logo="media\Square150x150Logo.png" Square44x44Logo="media\Square44x44Logo.png" Description="RetroArch is the official reference frontend for the libretro API." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="media\Wide310x150Logo.png" ShortName="Retroarch" Square71x71Logo="media\Square71x71Logo.png" Square310x310Logo="media\Square310x310Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="black" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="megadrive-rom">
            <uap:DisplayName>Sega Mega Drive/Genesis ROM</uap:DisplayName>
            <uap:Logo>media\assets\xmb\flatui\png\Sega - Mega Drive - Genesis.png</uap:Logo>
            <uap:EditFlags OpenIsSafe="true" />
            <uap:SupportedFileTypes>
              <uap:FileType>.smd</uap:FileType>
              <uap:FileType>.md</uap:FileType>
              <uap:FileType>.mdx</uap:FileType>
              <uap:FileType>.gen</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="codeGeneration" />
    <Capability Name="internetClientServer" />
    <uap:Capability Name="removableStorage" />
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
</Package>